h1 Schedule event for #{course.name}

== render '_validation_errors'

- if course.locations.empty?
  div class="alert alert-warning"
    | This course has no locations yet. Add a location first before scheduling events.
  a class="btn btn-secondary" href="/courses/#{course.id}/locations/new" Add Location
- else
  form method='post' action="/courses/#{course.id}/events" accept-charset="UTF-8"
    div class="form-group mb-3"
      label for='input-event-name' Event name
      input type='text' name='name' id='input-event-name' class="form-control" maxlength="200" value=(params['name'] || '')
    div class="form-group mb-3"
      label for='input-event-start' Start
      input type='datetime-local' name='start_at' id='input-event-start' class="form-control" value=(params['start_at'] || '')
    div class="form-group mb-3"
      label for='input-event-end' End
      input type='datetime-local' name='end_at' id='input-event-end' class="form-control" value=(params['end_at'] || '')
    div class="form-group mb-3"
      label for='input-event-location' Location
      select name='location_id' id='input-event-location' class="form-select"
        - course.locations.each do |location|
          option value=location.id
            = location.name
    button type='submit' class="btn btn-primary" Schedule event
    a class="btn btn-link" href="/courses/#{course.id}" Cancel
