li class="list-group-item d-flex justify-content-between align-items-center"
  div
    strong
      = event.course_name
    span class="text-muted ms-2"
      = event.name
    div class="text-muted small"
      = "#{event.start_at} -- #{event.end_at}"
      - if event.location
        span class="ms-2"
          | @&nbsp;
          = event.location.name
  form method='post' action="/courses/#{event.course_id}/attendances" class="m-0"
    input type='hidden' name='event_id' value=event.id
    button type='submit' class="btn btn-sm btn-success" Check in
