- can_check_in = event.policies.can_record_attendance || (viewer && viewer.student_in?(course_id))
- live_now = event.live_now?
- show_map = can_check_in && live_now && !event.attended? && event.location

li class="list-group-item"
  div class="d-flex justify-content-between align-items-center"
    div
      strong
        = event.name
      span class="text-muted small ms-2"
        - if event.location
          = event.location.name
      div class="text-muted small"
        = "#{event.start_at} -- #{event.end_at}"
    div
      - if event.attended?
        span class="badge bg-success" Attended &#10003;
      - elsif can_check_in && live_now
        form method='post' action="/courses/#{course_id}/attendances" class="m-0 checkin-form" id="checkin-form-#{event.id}"
          input type='hidden' name='event_id' value=event.id
          input type='hidden' name='longitude' value=""
          input type='hidden' name='latitude' value=""
          button type='submit' class="btn btn-sm btn-success" Check in
          div class="checkin-error text-danger small mt-1" style="display: none;"
  - if show_map
    div class="mt-2"
      == render '_attendance_map', locals: { event: event }
